* {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    transition: all 0.2s;
}

.navigation-container {
    position: absolute;
    top: 1rem;
    transition: opacity 0.5s;
}

.navigation {
    display: flex;
    flex-direction: row;
    list-style: none;
    user-select: none;
}

.navigation-element {
    padding: 0px 20px;
    text-decoration: none;
    opacity: 0.5;
    font-family: dongle;
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;

    transition: opacity 0.2s;
}

.navigation-element:hover {
    opacity: 1;
    text-shadow: 0px 0px 5px inherit;
}

.navigation-inactive {
    opacity: 0;
    pointer-events: none;
}

.clock-container {
    user-select: none;
}

.clock {
    font-size: 11rem;
    font-family: Limelight;
    letter-spacing: 1rem;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    transition: opacity 0.2s;
}

/*Media Queries... Yeah I know it's nuts*/
@media only screen and (max-width: 1200px) {
    .clock {
        font-size: 9rem;
    }
}

@media only screen and (max-width: 1010px) {
    .clock {
        font-size: 8rem;
    }
}

@media only screen and (max-width: 930px) {
    .clock {
        font-size: 7rem;
    }
}

@media only screen and (max-width: 845px) {
    .clock {
        font-size: 6rem;
    }
}

@media only screen and (max-width: 735px) {
    .clock {
        font-size: 5rem;
    }
}

@media only screen and (max-width: 635px) {
    .clock {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 530px) {
    .clock {
        font-size: 3rem;
    }
}


@media only screen and (max-width: 490px) {
    .clock {
        font-size: 2rem;
    }
    .navigation-element {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 400px) {
    .clock {
        font-size: 2rem;
    }
    .navigation-element {
        font-size: 1.5rem;
        padding: 0px 10px;
    }
}